<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="Zadohin3IS24IPSITEntities" connectionString="metadata=res://*/Model.KinderGarten.csdl|res://*/Model.KinderGarten.ssdl|res://*/Model.KinderGarten.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL;initial catalog=Zadohin3IS24IPSIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="Zadohin4IS24IPSITEntities" connectionString="metadata=res://*/Model.KinderGartenModel.csdl|res://*/Model.KinderGartenModel.ssdl|res://*/Model.KinderGartenModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL;initial catalog=Zadohin3IS24IPSIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>